@charset "utf-8";
/* --------------index begin--------------- */

/* ===============================================================
Basic Swiper Styles
================================================================*/
.swiper-container {margin:0 auto;position:relative;overflow:hidden;direction:ltr;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-o-backface-visibility:hidden;backface-visibility:hidden;/* Fix of Webkit flickering */z-index:1;}
.swiper-wrapper {position:relative;width:100%;-webkit-transition-property:-webkit-transform,left,top;-webkit-transition-duration:0s;-webkit-transform:translate3d(0px,0,0);-webkit-transition-timing-function:ease;-moz-transition-property:-moz-transform,left,top;-moz-transition-duration:0s;-moz-transform:translate3d(0px,0,0);-moz-transition-timing-function:ease;-o-transition-property:-o-transform,left,top;-o-transition-duration:0s;-o-transform:translate3d(0px,0,0);-o-transition-timing-function:ease;-o-transform:translate(0px,0px);-ms-transition-property:-ms-transform,left,top;-ms-transition-duration:0s;-ms-transform:translate3d(0px,0,0);-ms-transition-timing-function:ease;transition-property:transform,left,top;transition-duration:0s;transform:translate3d(0px,0,0);transition-timing-function:ease;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;}
.swiper-free-mode > .swiper-wrapper {-webkit-transition-timing-function:ease-out;-moz-transition-timing-function:ease-out;-ms-transition-timing-function:ease-out;-o-transition-timing-function:ease-out;transition-timing-function:ease-out;margin:0 auto;}
.swiper-slide {float:left;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;}
/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {-ms-touch-action:pan-y;}
.swiper-wp8-vertical {-ms-touch-action:pan-x;}
/*index-banner begin*/
.exp-banner{ position: relative; width: 1200px;height: 300px; z-index: 1;}
.exp-banner img{ max-width: 100%;}
.pusmall .exp-banner{ width: 1000px;height: 250px;}
.pusmall .exp-banner img{ max-width: 100%;}
.swiper-container { height: 300px; }
.pusmall .swiper-container { height: 250px; }
.exp-banner .arrow-left,.exp-banner .arrow-right {z-index:9;position:absolute;margin-top:-15px;width:52px;height:52px; top: 50%;}
.exp-banner .arrow-left {background:url(../Scripts/swiper/left_arrow.png) no-repeat left top;left:10px;}
.exp-banner .arrow-right {background:url(../Scripts/swiper/right_arrow.png) no-repeat left bottom;right:10px;}
.pagination {position:absolute;left:0;text-align:center;bottom:5px;width:100%;z-index:9;}
.swiper-pagination-switch {display:inline-block;width:10px;height:10px;border-radius:10px;background:rgba(0,0,0,.3);margin:0 3px;cursor:pointer;}
.swiper-active-switch {background:#2296f3;}



/*index-main begin*/
.exp-title{ padding: 8px 0;}
.exp-title .o,.exp-title .b,.exp-title .g{width: 3px; height: 20px; display: inline-block; margin-top: 3px;}
.exp-title .o{ background-color: #FF0000; margin-top: 3px;}
.exp-title .b{ background-color: #2196f3;}
.exp-title .g{ background-color: #5dc55a;}

.exp-title .more{ color: #999;}
.exp-title .more:hover{ color: #2196f3;}

.apilw{ background-color: #fff; overflow: hidden; display: inline-block; float: left;}
.apilw>a>.icoapi{ position: absolute; left: 20px; top:25px; width: 60px; height: 60px; line-height: normal;}
.apilw>a>.icoapi>.iconfont{ color: #1186e3;}

.pusmall .apilw.z-mr5{ margin-right: 13px;}
.pusmall .apilw.z-mb5{ margin-bottom: 13px;}
.pusmall .apilw>a>.icoapi{ left: 10px; top: 20px; width: 48px; height: 48px;}
.pusmall .apilw>a>.icoapi>.iconfont.fz60{font-size: 48px !important;}

.api-hlist>a{border: 1px solid #eee; width: 168px; display: inline-block; float: left; padding: 15px 15px 15px 100px; position: relative;}
.pusmall .api-hlist>a{ width: 158px; padding: 10px 10px 10px 70px;}
.apilw>a:hover{ border: 1px solid #89bffa;}
.apilw>a>.t,.apilw>a>.i,.apilw>a>.p{ display: block;}
.apilw>a>.t{ color: #333333; font-weight: normal; font-size: 16px; padding-bottom: 6px;}
.apilw>a>.i{ color: #999999;}
.apilw>a>.p{ color: #ff7000; margin-top: 14px;}
.apilw>a:hover>.t{ color: #2196f3;}

.pusmall .api-hlist>a>.p,.pusmall .api-clist>a>.p{ color: #ff7000; margin-top: 10px;}


.api-clist>a{border: 1px solid #eee; width: 168px; display: inline-block; float: left; padding: 30px 15px 30px 100px; position: relative;}
.pusmall .api-clist>a{ width: 158px; padding: 20px 10px 20px 70px;}

.apimerit{ padding: 40px; border:1px solid #ddd; background-color: #fff;}
.pusmall .apimerit{ padding: 40px;}
.apimerit .merlist{ display: inline-block; float: left; width: 260px; text-align: center;}
.pusmall .apimerit .merlist{ width: 210px;}
.apimerit .merlist>.merico{ width: 120px; height: 120px; display: inline-block; padding-bottom: 12px;}
.apimerit .merlist>.merico>img{ border-radius: 50%; display: inline-block;}
.apimerit .merlist>.t,.apimerit .merlist>.i{ text-align: center; display: block;}
.apimerit .merlist>.t{ color: #333; padding-bottom: 8px; font-size: 16px; font-weight: normal;}
.apimerit .merlist>.i{ color: #999; line-height: 22px; padding: 0 16px;}

.apipartner{ padding: 25px; background-color: #fff;border:1px solid #ddd; overflow: hidden;}

/* -----------api-list begin----------*/


/* //sub-menu begin */
.sub-menu {background:#fff;border:1px solid #f2f2f2;margin:0 0 20px; font-size: 14px;}
.sub-menu:before,.sub-menu:after {content:" ";display:table}
.sub-menu:after {clear:both}
.sub-menu:before,.sub-menu:after {content:" ";display:table}
.sub-menu:after {clear:both}
.sub-menu .menus a {padding:6px 8px;margin:15px 2px 0 2px;line-height:30px;border:1px solid #ddd; color: #666;}
.sub-menu .menus a:hover {color:#338ce6}
.sub-menu .menus {float:left}
.sub-menu .menus .active {line-height:58px;border:1px solid #338ce6;color:#338ce6}
.sub-menu .orders {float:right}
.sub-menu .orders a {display:inline-block;padding:0 5px 0 10px;margin:15px 0 0 5px;line-height:30px;border:0; color: #666;}
.sub-menu .orders a.active {color:#338ce6;}

.sort-bar .sort {position:relative;}
.sort-bar .sort .down {left:-8px;top:2px;border-top:5px solid #666;}
.sort-bar .sort .up {top:-6px;left:3px;border-bottom:5px solid #666;}
.sort-bar .sort .onU {border-bottom:5px solid #39b2dc;}
.sort-bar .sort .onD {border-top:5px solid #39b2dc;}
.sort-bar .sort .down,.sort-bar .sort .up {position:relative;width:0;height:0;border-left:3px solid transparent;border-right:3px solid transparent;}
/* //sub-menu end */


/* infopage begin */

.apiitem-wrap {width:100%;height:100%;}

.apiitem-main{ width: 880px;}
/*apiBuy*/
.prodinfo-top {background:#fff;padding-top:40px; min-height: 240px;}
.prodinfo-head {padding:0 40px;margin-bottom:10px; }
.prodinfo-head .view-img {text-align:center;background-repeat:no-repeat;background-position:20px 10px; width: 200px; height: 150px; border:1px solid #eee; padding-top: 50px;}
.prodinfo-head .view-img img {width:100px;height:100px;border:0;}
.prodinfo-head .view-info {padding-left:230px;}
.prodinfo-head .view-info .prodtitle{ overflow: hidden;}
.prodinfo-head .view-info .prodtitle h1 {font-size:18px;}
.prodinfo-head .view-info .prodtitle .tag {font-size:14px; border:1px solid #03c877; color: #03c877; padding: 0 6px; border-radius: 2px;}

.prodinfo-head .view-info .prodtype {margin-top:10px;font-size:14px;font-weight:400;line-height:24px;}
.prodinfo-head .view-info .prodtype li{ display: inline-block; width: 30%; padding-right:2%;color: #666;}

.prodinfo-head .view-info .buygroup{ padding: 15px 0;}
.prodinfo-head .view-info .buygroup .buybtn{ padding: 8px 20px; min-width: 80px; display: inline-block; text-align: center; color: #fff; background-color: #2196f3; border-radius: 2px;}

.prodinfo-info{ background-color: #fff;}
.prodinfo-info .tabs-bar {width:100%;}
.prodinfo-info .tabs-bar ul.n-ifontabs {height:56px;position:relative;overflow:hidden;margin:0 20px;padding:0;border-bottom:1px solid #dfdfde;background:#fff;}
.prodinfo-info .tabs-bar ul.n-ifontabs li {font-size:0;float:left;height:56px;margin-right:70px;text-align:center;color:#666666;}
.prodinfo-info .tabs-bar ul.n-ifontabs li a {font-size:14px;display:block;width:100%;line-height:53px; padding:0 10px;cursor:pointer;color:#666666;}
.prodinfo-info .tabs-bar ul.n-ifontabs li a.active {border-bottom: 3px solid #459df5; color: #459df5;}


/*tabs-main begin*/
.tabs-cont{ padding: 20px;}
.tabs-cont .n-continfo{ overflow: hidden;}
.tabs-cont .nbbarc{ min-width: 140px;}
.tabs-cont .nbbarc a{ display: inline-block; padding: 6px 15px; text-align: center; border:1px solid #ddd; color: #999}
.tabs-cont .nbbarc a.active{border:1px solid #459df5; color: #459df5}
.tabs-cont .n-continfo>.n-basic{ min-width: 600px;}
.tabs-cont .n-continfo>.n-api{ min-width: 660px;}
.tabs-cont .n-continfo>.n-api p{ color: #333; width: 100%;}

.intable{ border: 1px solid #eee;}
.intable>tbody>tr>th,.intable>tbody>tr>td{ padding: 4px 12px;border: 1px solid #eee;}

.inarea textarea{ width: 96%; padding: 2%; border: 1px solid #eee; line-height: 22px;}

.inner-left {float:left;width:290px; min-height:450px;_height:450px;}
.debug-api .line {height:1px;border-bottom:1px dashed #ddd;overflow:hidden;margin:10px 0;}

.debug-api {width:280px;}
.debug-api dl {padding:8px 0; line-height: 30px; }
.debug-api dl dt,.debug-api dl dd {float:left;}
.debug-api dl.delist dt {line-height:30px;width:70px;}
.debug-api dl.delist dd {width:200px;line-height:20px;}
.debug-api dl.delist dd select {width:200px;float:right;padding: 6px 0; border: 1px solid #ddd;}

.debug-api dl.canshu { background-color: #fff;}
.debug-api dl.canshu dt,.debug-api dl.canshu dd {float:none;}
.debug-api dl.canshu dt {padding-bottom:10px;}
.debug-api dl.canshu dd.inp .inputStp {vertical-align:middle;width:185px; padding: 6px; display: inline-block; border:1px solid #ddd;}
.debug-api dl.canshu dd.inp label {width:70px; display: inline-block; text-align: right; padding-right: 5px; }

.debtn{ text-align: center;}
.debtn .btn_b{ display: inline-block;  min-width: 130px; padding: 8px 0; text-align: center;  background-color: #2196f3; color: #fff;}

.inner-right {float:right;width:450px;background:#fbfbfb; padding: 20px;}
.inner-right .operinfo{ color: #999;}
.inner-right textarea{ border:1px solid #e5e5e5; width: 96%; padding: 2%;}


/*right aside begin*/
.apiitem-recom{ width: 300px;}
.nitem-side{ width: 300px;}
.nitem-side .side-box{ border:1px solid #eee; padding: 20px;}
.nitem-side .side-box .sibox-tit{ font-size: 16px;border-bottom: 1px solid #e5e5e5;}
.nitem-side .side-box .sibox-tit .ico{ width: 5px; background-color: #2196f3; margin-right: 8px;}
.nitem-side .side-box .list-w .list-c{ border-bottom: 1px dashed #eee; padding:20px 12px; overflow: hidden;}
.nitem-side .side-box .list-w .list-c>.lcimg{ width: 40px; height: 40px; line-height: 40px; margin-right: 20px;}
.nitem-side .side-box .list-w .list-c .tit{color: #333333; display: block;}
.nitem-side .side-box .list-w .list-c .info{color: #999999;}




/* --------------made-main------------- */
.made-main{ background-color: #fff; border:1px solid #eee; padding: 40px;}

.made-process{ background:url("//csstools.chinaz.com/api/images/made-process.gif") no-repeat;}

.made-btnw{ display: block;}
.made-btnw .fabu-btn{ padding: 12px 30px; color: #fff; font-size: 18px;  background-color: #2196f3; min-width: 100px; border-radius: 3px; display: inline-block;}



/* -----------api-help------------ */
.api-help{ padding: 30px; background-color: #fff; width: 820px;}
.ahp-title{ padding-bottom: 12px; border-bottom: 1px solid #e5e5e5;}
.ahp-title>.tit{ font-size: 18px; padding-bottom: 12px; border-bottom: 2px solid #2196f3; font-weight: normal;}

.aid-navbar{width: 150px; float: left; padding: 30px 30px 30px 0;}
.aid-navbar ul.linknav{ width: 150px; border:1px solid #e5e5e5; border-bottom: 0;}
.aid-navbar ul.linknav li{ padding: 6px; text-align: center; height: 30px; line-height: 30px; border-bottom: 1px solid #e5e5e5;}
.aid-navbar ul.linknav li a{ display: block; color: #666666;}
.aid-navbar ul.linknav li.active{ background-color: #2196f3;}
.aid-navbar ul.linknav li.active a{ color: #fff;}

.aid-navbar .other{display: block;}
.aid-navbar .askbtn{ padding: 6px; color: #ff7000; border:1px solid #ff7000; border-radius: 5px; display: inline-block;}

.aid-list{ width: 560px; float: left; padding: 30px 20px;}
.aid-list .aid-contlist>.t{ color: #2196f3; padding-bottom: 8px;}
.aid-list .aid-contlist>.i{ color: #666; line-height: 30px;padding-bottom: 30px;}

/* -----------article-main------------ */
.article-main{ padding: 30px; background-color: #fff; width: 820px;}

.article-main .artc-lisrt{}
.article-main .artc-lisrt .lino{ border-bottom: 1px dashed #e5e5e5; margin-bottom: 20px; overflow: hidden;}
.article-main .artc-lisrt .lino .artc-tit{font-size: 16px;}
.article-main .artc-lisrt .lino .artc-tit a{ color: #333;}
.article-main .artc-lisrt .lino .artc-cont{ color: #777; line-height: 24px;word-break: break-all;}
.article-main .artc-lisrt .lino .artc-foot{ color: #999; padding: 12px 0; overflow: hidden;}


.art-fnote>span{ margin-right: 15px; display: inline-block; color: #999;}
.art-paragraph{ padding-bottom: 30px;}
.art-paragraph p{ line-height: 30px; padding: 12px; font-size: 16px;}



table.MenuNav tr th{font-size:17px;}
table.MenuNav tr td{width:120px;padding-left:12px;height:30px;line-height:30px;}
table.MenuNav tr td a{color:#c1defe;}
table.MenuNav tr td a:hover{color:#fff}
.callApiButton {
    background-color: #2196f3;
    border: none;
    color: white;
    padding: 7px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.ResultFieldDescription { text-align:left;}